<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>新创建的菜谱，编辑每日精选</string>
		<key>display_name</key>
		<string>编辑选新</string>
		<key>name</key>
		<string>editor_selection</string>
		<key>pic</key>
		<string>file:///Users/sanking/Desktop/pic/2d4a4f60ed81364c32f375a52bd1b76f.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>视频详解操作流程，想失败都难</string>
		<key>display_name</key>
		<string>视频菜谱</string>
		<key>name</key>
		<string>video_selection</string>
		<key>pic</key>
		<string>file:///Users/sanking/Desktop/pic/6c0948aace0059d4c0b80b2da0df937b.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>被10人做过的菜谱，推荐每天逛逛</string>
		<key>display_name</key>
		<string>新秀菜谱</string>
		<key>name</key>
		<string>over_10_cooked</string>
		<key>pic</key>
		<string>file:///Users/sanking/Desktop/pic/37cb8dcf0611993c884df150d2bcd69f.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>被1000人做过的菜谱，好吃到流泪</string>
		<key>display_name</key>
		<string>荣誉殿堂</string>
		<key>name</key>
		<string>over_1000_cooked</string>
		<key>pic</key>
		<string>file:///Users/sanking/Desktop/pic/218f150fcf69a1180ebe002d283a1a7f.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>上月口碑最好的菜谱，精彩不容错过</string>
		<key>display_name</key>
		<string>9月最佳</string>
		<key>name</key>
		<string>month_honor</string>
		<key>pic</key>
		<string>file:///Users/sanking/Desktop/pic/124354fe649916787a6e6d015267d951.png</string>
	</dict>
</array>
</plist>
